@import "tailwindcss";

/* Beautiful scrollbar */
.pretty-scroll::-webkit-scrollbar {
  width: 6px;
}

.pretty-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.pretty-scroll::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.4); /* slate */
  border-radius: 999px;
}

.pretty-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 116, 139, 0.7);
}

/* Firefox */
.pretty-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(100,116,139,0.6) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6366f1, #a855f7);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
